 .kontakt {
  color: #EF4E08;/*make text visible*/
   /*added animations to contact, to be extended*/
   height: 100vh;
   width: 100vw;
   background-color: black;
   background-image: url('images/erde.png'),
     url('images/sonne2.png');
   background-repeat: no-repeat;
   justify-items: center;
   background-position: 0,
     0;

   background-size: 10vmax,
     20vmax;
   animation: 14s move linear infinite;
   /*best background animation timing*/
 }

 @keyframes move {
   0% {
     background-position:
       -39%,
       -39%;
   }

   /*favoured rate for animation through tests own work*/
   100% {
     background-position:
       +135%,
       +135%;
   }
 }
 
.containerform{/*whole form*/
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.containerform input{/*single form fields*/
  width: 70vw;

} 
.foot p{/*text footer*/
    background: -webkit-linear-gradient(#B82301, #EF4E08, #FEDA09,#f5eec9);/*Farbspektrum*/
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logofoot {/*logo footer*/
    background: -webkit-linear-gradient(#B82301, #EF4E08, #FEDA09,#f5eec9);/*Farbspektrum*/
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*textcolor footer*/
}

