 .kontakt {

  text-align: center;
  position: relative;
  color: white;/*make text visible*/
   /*added animations to contact, to be extended*/
   height: 90vh;/*footer soll sichtbar sein*/
   width: 100vw;
   background-color: black;
   background-image: url('images/erde.png'),
     url('images/sonne2.png');
   background-repeat: no-repeat;
   justify-items: center;
   background-position: 0,
     0;
   background-size: 10vmax,
     20vmax;
   animation: 14s move linear infinite;
   /*best background animation timing*/
 }

 @keyframes move {
   0% {
     background-position:
       -39%,
       -39%;
   }

   /*favoured rate for animation through tests own work*/
   100% {
     background-position:
       +135%,
       +135%;
   }
 }

.kontakttext {
  text-align: center;
  position: relative;
}
 
.containerform{/*whole form*/
  background-color: transparent;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.containerform input{/*single form fields*/
  background-color: transparent;
  color: white;
  width: 50%;
  text-align: center;
  border-radius: 5%;
  text-decoration: none;

}

.containerform textarea{
  height: 400px;
  width: 80%;
  background-color: transparent;
  color: aliceblue;
}

/*quelle bounce*/
.containerform button{
  height: 70px;
  width: 70px;
  background-image: url("/style/images/mond.png");
  background-size: cover;
  box-shadow:0 0 30px #f5eec9;
  animation: bouncy 4s infinite linear;
  position: relative;
  text-decoration: none;
  text-align:center;
  color:whitesmoke;  
  border-radius: 50%;
  background-color: black;
} 


@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}


/*Footer*/
footer{
  bottom:0px;

}
.foot .logofoot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot p{/*text footer*/
    background: -webkit-linear-gradient(#B82301, #EF4E08, #FEDA09,#f5eec9);/*Farbspektrum*/
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.logofoot {/*logo footer*/
    background: -webkit-linear-gradient(#B82301, #EF4E08, #FEDA09,#f5eec9);/*Farbspektrum*/
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*textcolor footer*/
}

