 /* Style inputs with type="text", select elements and textareas */
 input[type=text],
 select,
 textarea {
     width: 100%;
     /* Full width */
     padding: 12px;
     /* Some padding */
     border: 1px ;
     /* Gray border */
     border-radius: 4px;
     /* Rounded borders */
     box-sizing: border-box;
     /* Make sure that padding and width stays in place */
     margin-top: 6px;
     /* Add a top margin */
     margin-bottom: 16px;
     /* Bottom margin */

     resize: vertical;
         /* Allow the user to vertically resize the textarea (not horizontally) */
     align-items: center;
     opacity: 90%;
}

 .btn:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.btn:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv);
}

.btn:hover:before {
  left: 0;
  width: 100%;
}

.btn:hover:after {
  top: 0;
  height: 100%;
}
.kontakt{/*added animations to contact, to be extended*/
height: 100vmin;
width: 100vmax;
background-color: rgba(3, 3, 3, 0.4);
background-image: url('images/merkur.png'),
url('images/sonne2.png');
background-repeat: no-repeat;
justify-items: center;
background-position: 0,
0;

background-size: 10vmax,
20vmax;
animation: 14s move linear infinite;
/*best background animation timing*/
}

@keyframes move {
  0% {
    background-position:
      -39%,
      -39%;
  }

  /*favoured rate for animation through tests own work*/
  100% {
    background-position:
      +135%,
      /*verhalten merkur*/
      +135%;
  }
}