.skills {
    /*css animation own work for EWEB https: //github.com/knupb */
    height: 100%;/*fit all*/
    width: 100vw;
    overflow:auto;/*not cutting bottom element*/
    background-color: rgba(3, 3, 3, 0.4);
    background-image:
        url('images/mond.png'),
        url('images/erde.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size:
        10vmax,
        20vmax;
    animation: move 14s linear infinite;
    /*best background animation timing*/
}

@keyframes move {
    0% {
        background-position:
            -39%;
    }

    /*favoured rate for animation through tests own work*/
    100% {
        background-position:
            +135%;
    }
}
.skills {
    text-align: center;
    color: aliceblue;
}
.skills h1{/* Quelle:w3 Schools glowing text, rest zusammengesucht meist bei w3schools diverse Quellen*/
    text-align: center;
    color: aliceblue;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px rgb(210, 208, 208), 0 0 5px azureblue, 0 0 10px #a19d9f;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 7px azure, 0 0 10px #fff04d, 0 0 15px #fff04d, 0 0 20px #fff04d;
  }
}

.python {
    margin-top: 1%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: azure;
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px white;
}

.python:hover {
    width: 120px;
    height: 120px;
    transform: rotate(360deg);

}
.textp {
    display: none;
    text-align: center;
}
.python:hover + .textp{
    display:block;
    color: aliceblue;
}

.typescript {
    margin-top: 1%;
    margin-left: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/typescript.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px blue;
}

.typescript:hover {
    width: 120px;
    height: 120px;
    transform: rotate(-360deg);
}
.textts {
    display: none;
    text-align: center;
}
.typescript:hover + .textts{
    display: block;
    color: aliceblue;
}

.html {
    margin-top: 1%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-position: center;/*full logo*/
    background-size: contain;
    background-color: aliceblue;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}

.html:hover {
    width: 120px;
    height: 120px;
    transform: rotate(360deg);
}
.texthtml {
    display: none;
    text-align: center;
}
.html:hover + .texthtml{
    display: block;
    color: aliceblue;
}
.javascript {
    margin-top: 1%;
    margin-left: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px yellow;
}

.javascript:hover {
    width: 120px;
    height: 120px;
    transform: rotate(-360deg);
}
.textjs {
    display: none;
    text-align: center;
}
.javascript:hover + .textjs{
    display: block;
    color: aliceblue;
}
.sql {
    margin-top: 1%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/sql.png");
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}
.sql:hover {
    width: 120px;
    height: 120px;
    transform: rotate(360deg);
}
.textsql {
    display: none;
    text-align: center;
}
.sql:hover + .textsql{
    display: block;
    color: aliceblue;
}
/*dbs*/
.sqlite{
    margin-top: 1%;
    margin-left: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/SQLite.png");
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position: center;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px blue;
}

.sqlite:hover {
    width: 120px;
    height: 120px;
    transform: rotate(-360deg);
}
.textsqlite {
    display: none;
    text-align: center;
}
.sqlite:hover + .textsqlite{
    display: block;
    color: aliceblue;
}
.mysql{
    margin-top: 1%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/MySQL.png");
    background-color: azure;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px blue;
}

.mysql:hover {
    width: 120px;
    height: 120px;
    transform: rotate(360deg);
}
.textmysql {
    display: none;
    text-align: center;
}
.mysql:hover + .textmysql{
    display: block;
    color: aliceblue;
}
.mongo {
    margin-top: 1%;
    margin-left: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/mongo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: greenyellow;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px greenyellow;
}

.mongo:hover {
    width: 120px;
    height: 120px;
    transform: rotate(-360deg);
}
.textmongo {
    display: none;
    text-align: center;
}
.mongo:hover + .textmongo{
    display: block;
    color: aliceblue;
}

/*frameworks*/
.django{
    margin-top: 1%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/django.png");
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px green;
}

.django:hover {
    width: 120px;
    height: 120px;
    transform: rotate(360deg) ;
}
.textdjango {
    display: none;
    text-align: center;
}
.django:hover + .textdjango{
    display: block;
    color: aliceblue;
}
.angular {
    margin-top: 1%;
    margin-left: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/angular.png");
    background-color: #2775CA;
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px #2775CA;
}

.angular:hover {
    width: 120px;
    height: 120px;
    transform: rotate(-360deg);
}
.textangular {
    display: none;
    text-align: center;
}
.angular:hover + .textangular{
    display: block;
    color: aliceblue;
}
progress {
  border-radius: 7px; 
  height: 10px;
  background: white;
}
progress::-webkit-progress-bar {
  border-radius: 7px; 
  height: 10px;
  background: white;
}
progress::-webkit-progress-value {
  border-radius: 7px; 
  height: 10px;
  background: red;
  color:aliceblue;
}
progress::-moz-progress-bar {
  border-radius: 7px; 
  height: 10px;
  background: red;
}
@media screen and (max-width:600px){

    .skills h2,p,label{
        font-size: smaller;
    }
    progress {
        border-radius: 3.5px; 
        height: 5px;
        background: white;
}
    progress::-webkit-progress-bar {
        border-radius: 3.5px; 
        height: 5px;
        background: white;
}
    progress::-webkit-progress-value {
        border-radius: 3.5px; 
        height: 5px;
        background: red;
        color:aliceblue;
}
    progress::-moz-progress-bar {
        border-radius: 3.5px; 
        height: 5px;
        background: red;
}
}