.portfolio {
    /*css animation own work for EWEB https: //github.com/knupb */
    height: 100vh;
    width: 100vw;
    background-color: rgba(3, 3, 3, 0.4);
    background-image:
        url('images/mond.png'),
        url('images/erde.png');
    background-repeat: no-repeat;
    background-position:
        0;

    background-size:
        10vmax,
        20vmax;
    animation: move 14s linear infinite;
    /*best background animation timing*/
}

@keyframes move {
    0% {
        background-position:
            -39%;
    }

    /*favoured rate for animation through tests own work*/
    100% {
        background-position:
            +135%;
    }
}
.portfolio h2{
    color: aliceblue;
    text-align: center;
}

.python {
    margin-top:  3vh;
    margin-left: 20vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: azure;
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px white;
}

.python:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.typescript {
    margin-top: 2vh;
    margin-left: 10vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/typescript.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px blue;
}

.typescript:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.html {
    margin-top: 2vh;
    margin-left: 20vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-position: center;/*full logo*/
    background-size: contain;
    background-color: aliceblue;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}

.html:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.javascript {
    margin-top: 2vh;
    margin-left: 10vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px yellow;
}

.javascript:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.sql {
    margin-top: 2vh;
    margin-left: 20vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/sql.png");
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}

.sql:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
/*dbs*/
.sqlite{
    margin-top: 2vh;
    margin-left: 80vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/typescript.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px blue;
}

.sqlite:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.mysql{
    margin-top: 2vh;
    margin-left: 70vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}

.mysql:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.mongo {
    margin-top: 2vh;
    margin-left: 90vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px yellow;
}

.mongo:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
/*frameworks*/
.django{
    margin-top: 2vh;
    margin-left: 70vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px orange;
}

.django:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}
.angular {
    margin-top: 2vh;
    margin-left: 90vw ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 1s, height 1s, transform 1s;
    box-shadow: 0px 0px 40px yellow;
}

.angular:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}