.containerstars {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 1;
}
.profil{/*css animation own work for EWEB https: //github.com/knupb */
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    background-image:
        url('images/merkur.png'),
        url('images/sonne2.png');
    background-repeat: no-repeat;
    background-position:
        0,
        0;
    mix-blend-mode: lighten;
    background-size:
        5vmax,
        20vmax;
    animation: 14s move linear infinite;/*best background animation timing*/
}

@keyframes move{
    0%{
        background-position: 
        -39%,
        -39%;
    }/*favoured rate for animation through tests own work*/
    100% {
        background-position:
            +135%,/*verhalten merkur*/
            +135%;
    }
}
#profil{
    color: aliceblue;
}
.profilbild {/*adapted fromcodepen.io/MarioDesigns/ */
    position: absolute;
    margin-top: 10vh;/*sonst aus section*/
    margin-left: 20vw;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
.profilbild img {
        position: absolute;
        width: 100%;
        height: auto;
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.989);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgb(255, 255, 255);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.989);
        transform: translatey(0px);
    }
}
.textprofil{
    position:absolute;
    text-align: center;
    padding-right:100px;
    margin-top: 25vh;
    margin-left: 20vw;
    margin-right:10vw;/*nicht rand der seit*/
}
@media screen and (max-width:600px){
    .textprofil{
        position:absolute;
        text-align: center;
        padding-right:100px;
        margin-top: 40vw;
        margin-left: 20vw;
        margin-right:10vw;
        padding-top: 25%;
    }
    .box{
        margin-left: 20vw;
        margin-top: 80vh;
    }
}

.box {/*animation nach Quelle:https://codepen.io/josue_26/pen/dojbOG*/
  position:absolute;
  background:url("images/weltkarte.jpg");/*public domain quelle:https://www.shadedrelief.com/natural3/pages/textures.html*/
  background-size:cover;
  border-radius:50%;
  width:100px;
  height:100px;
  animation: move 6.9s linear 0s infinite;
  margin-top: 75vh;
  margin-left: 50vw;
  transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
  box-shadow: 0px 0px 40px #2775CA;
}

@keyframes move{
  0% { background-position:0 0 }
  100% { background-position:355px 0 }
}

