.profil{/*css animation own work for EWEB https: //github.com/knupb */
    box-sizing: border-box;
    overflow: hidden;
    color: aliceblue;
    height: 100vmin;
    width: 100vmax;
    background-image:
        url('images/merkur.png'),
        url('images/sonne2.png');
    background-repeat: no-repeat;
    background-position:
        0,
        0;

    background-size:
        10vw,
        20vw;
    animation: 14s move linear infinite;/*best background animation timing*/
}

@keyframes move{
    0%{
        background-position: 
        -39%,
        -39%;
    }/*favoured rate for animation through tests own work*/
    100% {
        background-position:
            +135%,/*verhalten merkur*/
            +135%;
    }
}

.containerstars{
    position: absolute;
    height: 100vw;
    width: 100vw;
    
}