@import url('https://fonts.googleapis.com/css?family=Montserrat');/* Font import*/


*{  -ms-overflow-style: none;
    scrollbar-width: none;
/*Weg mit scrollbar für sämtliche gängige browser*/
    scroll-behavior: smooth;/*scrollt sich schöner auf diesem weg*/
    box-sizing: border-box;
    -webkit-scrollbar:none;
}
body::-webkit-scrollbar {
  display: none;
}/*chrome auch noch*/

html, body{
    max-width: 100vw;
    overflow-x: hidden; 
    margin: 0;
}

body{
    font-family: 'Montserrat';/*font in ' einfügen*/
    background-color: black;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: center;
    background-color: black;
}

footer{
    align-items: center;
    text-align: center;
}

