@import url('https://fonts.googleapis.com/css?family=Montserrat');/* Font import*/


*{  -ms-overflow-style: none;
    scrollbar-width: none;
/*Weg mit scrollbar für sämtliche gängige browser*/
    scroll-behavior: smooth;/*scrollt sich schöner auf diesem weg*/
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat';/*font in ' einfügen*/
    background-color: #111;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: center;
    background-color: #111;
}

.portfolio {
    background-image: url("images/merkur.png");/*quelle Bild: Nasa*/
    background-repeat: no-repeat;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
}
.kontakt {
    background-image: url("images/erde.png");/*quelle Bild: Nasa*/
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
}
.impressum {
    background-image: url("images/mars.png");
    /*quelle Bild: Nasa*/
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
}
