@import url('https://fonts.googleapis.com/css?family=Allerta Stencil');/* Font import*/

body{
    font-family: 'Allerta Stencil', Verdana, Geneva, Tahoma, sans-serif;/*font in ' einfügen*/
    background-color: black;
    text-align: center;
    color: white;

}
#homebackground {
    background-image: url('/style/images/brain.png');/*https: //svgsilh.com/ms/8bc34a/image/2729794.html Animation own work*/
    background-repeat: no-repeat;
    background-position: center center;
    width: 600px;
    height: 600px;
    animation-name: home;
    animation-duration: 1s;
    animation-iteration-count: infinite
    
}
@keyframes home{
0%,
    100% {
        background-size: 100% auto;
        -webkit-background-size: 100%;
    }

    50% {
        background-size: 95% auto;
        -webkit-background-size: 95%;
    }
}

#navbar ul{
    position: fixed;
    bottom: 0;
    left: 0;
    list-style-type: none;
    background-color: #8BC34A;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#navbar a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 16px 14px;
}
#navbar li {
    float: left;   
}
#navbar li a:hover{
    background-color: black;
    color: white;
}
#navbar li a.active{
    background-color: black;
    color: white;
}