

.typewrite {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background: -webkit-linear-gradient(#B82301, #EF4E08,#FEDA09);/*macht linear gradient verschiedene farben*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Ensures the content is not revealed until the animation */

    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    /* Adjust as needed */
    animation:
        typing 4s steps(50, end),
        blink-caret 2s ;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 40%
    }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    10% {
        border-color: #F78012;
    }
}*/